
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Compasse;
    src: url(../ext/Compasse/Compasse/Compasse\ Regular.ttf);
  }
  
  body {
    font-family: Compasse;
    font-size: 10px;
    color: #39494f;
  }
  
  img {
    height: 100%;
    width: 100%;
  }
/* header section */

.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    min-height: 100px;
  }
  
  .nav-link {
    color: #39494f;
    font-size: 1rem;
  }
  
  .logo-brand {
    max-width: 250px;
    min-width: 160px;
  }
  .cerrar {
    background-color: #fff;
    border: none;
    padding: 0;
  }
  
  /* sidebard */
  .Mside {
    position: fixed;
    width: 250px;
    height: 100vh;
    z-index: 2000;
    padding: 20px;
    background-color: #39494f;
  }
  .Mside a {
    color: #fff;
  }
  
  /* end header section */
/*Hero Section*/
#hero {
  background-image: url(../img/Trato/Trato.png);
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    display: flex;
    align-items: flex-end;
    

}





#hero h1{
    font-size: 7vh;
    color: #fff;
}


/*End hero Section*/



/* section servicio */

.bgLightGrey{
    background-color: #f2f2f2;
    
}
#contact .texto{
    
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: auto;
    padding: auto;
}

#contact .texto h3{
  font-size: 5vh;
}


.btn{
    background-color: #BA1818;
    border-color: #BA1818;
    border-radius: 28px;
    margin-bottom: 20px;
    justify-items: left;

}
.btn-primary:hover {
    color: #fff;
    background-color: #39494F;
    border-color:#39494F;
}
/* end section servicio */
/* section footer */
footer {
    
    background-color:#BA1818 ;

}

footer {
    padding: 80px 0;
    text-align: center;
    
}


footer a {
    color: var(--white-color);
}

footer a:hover {
    color: var(--white-color);
}

footer .list-inline .list-inline-item {
    padding: 10px 15px;
}



/* end section footer */